<%include partials/header%>

<h1>SiteMap</h1>
<a href="/"><h2>Homepage</h2></a>
<a href="/campgrounds"><h2>CampSites</h2></a>
<a href="/campgrounds/new"><h3>Add a new CampSite</h3></a>
<h2>Auth</h2>
<a href="/register"><h3>Sign Up!</h3></a>
<a href="/login"><h3>Log In!</h3></a>

<p>Footer Text - Made by Vikramjit</p>
    </body>
    </html>