.thumbnail img{
    width : 100%;
}

.thumbnail {
    padding : 0;
}

.thumbnail .caption-full {
    padding : 9px;
}

#delete-form {
    display:inline;
}

#banner {
    margin      : 25px auto; 
    text-align  : center;
    padding     : 0px
}

#site-display:hover {
    transition-duration: 0.75s;
    transform: scale(1.5);
    z-index: 1;
}